[Unit]

Description=uWSGI service

After=syslog.target

[Service]

ExecStart=/home/ubuntu/myvenv/bin/uwsgi --ini /srv/scholar/scholar/.config/uwsgi/scholar.ini

Restart=always

KillSignal=SIGQUIT

Type=notify

StandardError=syslog

NotifyAccess=all

[Install]

WantedBy=multi-user.target
