<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOME</title>
     
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-md bg-light navbar-light border-bottom">
  <a class="navbar-brand" href="{% url 'index' %}">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li>Hello, {{user.first_name}}</li>
      <li class="nav-item">
      <a class="nav-link" href="/account/logout">로그아웃</a>
      </li>  
      {% else %}


         
      <li class="nav-item">
        <a class="nav-link" href="/account/register">회원가입</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/account/login">로그인</a>
      </li>

      {% endif %}  
       
    </ul>
  </div>
</nav>
<div class="container my-3">

  {% if user.is_superuser %}
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>순서</th>
  <th>선정위원별 점수표</th><th>장학생 대상별 점수표</th><th>Excel로 다운받기</th>
   
 
  </tr>
  </thead>
   <tbody>
 
  
    {% for scholar in scholarship %}
    <tr>
    <td>{{ scholar.id}}</td>
    <td><a href="{% url 'reviewer_report' scholar.id %}">{{ scholar.name}}</a></td> 
   
  
    <td><a href="{% url 'scholarship_report' scholar.id %}">{{ scholar.name}}</a> 
    </td>
    <td><a href="{% url 'export_scores_excel' scholar.id %}">{{ scholar.name}}</a> 
    </td>
  
  
  
  </tr>
 
    {% endfor %}
 
 
   </tbody>
   </table>
  
  </div>   
  <a href="{% url 'admin_index' %}" class="btn btn-primary float-left">선정위원 완료 현황 및 comments</a> 
  </div> 
 
 {% else %}

 
 <table><tr><td><a href="{% url 'my_scores' %}" class="btn btn-secondary float-left">점수보기</a>

 </td><td> <a href="{% url 'submit_score' %}" class="btn btn-secondary float-left">점수입력</a></td>
 
</tr></table>
<br><br>
<table border="0" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: left;">
      <th>큰빛 장학생 선정 점수 입력 요령</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="color:#007bff">할당된 장학금 종류와 신청자를 확인합니다</td>
    </tr>
    <tr>
      <td>신청자 ( 장학생 선정 대상)의 신청 서류에 문제가 없는지 확인합니다</td>
    </tr>
    <tr>
      <td>누락된 서류나 내용이 없는지 확인하고 혹시 누락되었으면 장학팀에 문의해 주십시오</td>
    </tr>
    <tr>
      <td>신청 서류 내용에 오류나 해당 장학금 대상자가 될 요건이 없는 내용을 발견시 장학팀에 알립니다</td>
    </tr>

    <tr>
      <td></td>
    </tr>


    <tr>
      <td style="color:#007bff">부여받으신 User ID와 Password로 Log In 후 [점수 입력] 버튼을 누릅니다.</td>
    </tr>
    <tr>
      <td>Form 의 첫째 줄에 신청자이름이 들어있고 둘째 줄에 해당 장학금-선정 기준이 들어있으며 셋째 줄에 [Score] 항목이 보일 것입니다</td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td>첫째 줄 오른쪽 작은 화살표를 눌러 나타나는 신청자 한 사람 한 사람에 대해 둘째 줄 오른쪽 작은 화살표를 눌러 점수를 [Score]에 입력할 수 있게 되어있습니다.</td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td style="color:#007bff">점수 입력</td>
    </tr>


    <tr>
      <td>[점수 입력] 버튼을 누른 후 보이는 페이지 하단에 보이는 [큰빛교회 장학 선정 기준] 점수표를 보고 선정 결과의 점수를 [Score]에 입력하고 [제출] 버튼을 누릅니다</td>
    </tr>
    <tr>
      <td>점수는 숫자 정수로 넣어주시고 가능한 20 30 40 보다는 19 24 38 과 같이 디테일한 점수를 넣어주시면 감사하겠습니다.</td>
    </tr>    
    
        
    <tr>
      <td></td>
    </tr>

    <tr>
      <td>제공된 서류의 내용으로 판단에 어려움이 있을 경우 예를 들면 신청자의 재정 상태를 가름하기 힘든 경우</td>
    </tr>
    <tr>
      <td>추천하신 분과 소통하거나 확인할 수 있는 최선의 방법을 찾아 점수를 입력해 주시기 바랍니다.</td>
    </tr>
    <tr>
      <td>아무래도 판단이 안 설 경우는 다른 선정위원과 최종 선정 단계에서 결정하도록 정확하게 중간 점수를 넣어주십시요</td>
    </tr>
    <tr>
      <td></td>
    </tr>    
    
    
    <tr>
      <td style="color:#007bff">입력 점수의 확인과 수정</td>
    </tr>
    <tr>
      <td>HOME으로 돌아오면 입력하신 신청자의 점수가 보이고 혹시 수정이 필요하면 수정 버튼을 눌러서 수정하시면 됩니다</td>
    </tr>
    <tr>
      <td>모든 신청자에 대한 점수 입력이 끝나면 [완료] 버튼을 눌러 주세요</td>
    </tr>
    
    <tr>
      <td>완료버튼을 누르시기 전까지는 수정이 가능하나 장학팀에서 정한 기한 내에 완료해 주시기 바랍니다</td>
    </tr>
  </tbody>
</table>



<table border="0" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th>장학팀 연락처</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>이름</td>
      <td>홍길동</td>
    </tr>
    <tr>
      <td>전화</td>
      <td>416-888-8888</td>
    </tr>
    <tr>
      <td>이메일</td>
      <td>plcscholar@gamil.com</td>
    </tr>
  </tbody>
</table>











{% endif %} 
 


</body>
</html>