<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOME</title>
     
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md bg-light navbar-light border-bottom">
        <a class="navbar-brand" href="#">{{ scholarship.name }} 장학금 선정위원별 점수표</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
       
      </nav>

    
      <div class="container my-3">
       
            {% for reviewer_report in report_data %}
                <h5>위원: {{ reviewer_report.reviewer.name }}</h5>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>장학금 후보자명</th>
                            {% for criteria in criteria_list %}
                                <th>{{ criteria.name }}</th>
                            {% endfor %}
                            <th>총점</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in reviewer_report.rows %}
                            <tr>
                                <td>{{ row.candidate.name }}</td>
                                {% for score in row.scores %}
                                    <td>
                                        {% if score is not None %}
                                            {{ score }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>{{ row.total }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>    
                </table>
  {% endfor %}
  
  <a href="{% url 'index' %}" class="btn btn-primary float-right">HOME</a>  
  
</body>
</html>