

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HOME</title>
     
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
      table {
          border-collapse: collapse;
          width: 6~100%;
      }
      th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }
      th {
          background-color: #f2f2f2;
      }
  </style>



</head>

<body><nav class="navbar navbar-expand-md bg-light navbar-light border-bottom">
    <a class="navbar-brand" href="{% url 'index' %}">HOME</a></nav>
  
        <a class="navbar-brand">📝 장학금: <strong>Alumni</strong>&nbsp;- 홍길동 선정위원님이 입력 결과 예</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <p></p> 
      </nav>
      <br>
      <div class="container my-3">
      <p style="color:green;">입력 상태:Total Entered/Total Requird<strong> 12 / 12</strong></p>
      
        
        
        <table class="table table-bordered">
          <tr>
            <th width="25%">후보자</th>
            <th width="30%">기준</th>
            <th width="45%">점수</th>
            
          </tr>
        
          
            
              <tr>
                
                  <td rowspan="5">권윤</td>
                
                <td>Financial</td>
                <td>39.0</td>
                
              </tr>
            
              <tr>
                
                <td>Faith</td>
                <td>20.0</td>
                
              </tr>
            
              <tr>
                
                <td>Volunteer&amp;activity</td>
                <td>15.0</td>
                
              </tr>
            
              <tr>
                
                <td>Nominated</td>
                <td>10.0</td>
                
              </tr>
            
           
            <tr>
              <td><strong>총점</strong></td>
              <td colspan="2">
                <strong>84.0</strong>
                   
                
              </td>
            </tr>
 
            
              <tr>
                
                  <td rowspan="5">정다현</td>
                
                <td>Financial</td>
                <td>35.0</td>
                
              </tr>
            
              <tr>
                
                <td>Faith</td>
                <td>16.0</td>
               
              </tr>
            
              <tr>
                
                <td>Volunteer&amp;activity</td>
                <td>12.0</td>
                
              </tr>
            
              <tr>
                
                <td>Nominated</td>
                <td>5.0</td>
               
              </tr>
            
           
            <tr>
              <td><strong>총점</strong></td>
              <td colspan="2">
                <strong>68.0</strong>
                
                
                
              </td>
            </tr>
       
            
              <tr>
                
                  <td rowspan="5">전윤재</td>
                
                <td>Financial</td>
                <td>32.0</td>
                
              </tr>
            
              <tr>
                
                <td>Faith</td>
                <td>20.0</td>
                
              </tr>
            
              <tr>
                
                <td>Volunteer&amp;activity</td>
                <td>12.0</td>
                
              </tr>
            
              <tr>
                
                <td>Nominated</td>
                <td>9.0</td>
                
              </tr>
            
           
            <tr>
              <td><strong>총점</strong></td>
              <td colspan="2">
                <strong>73.0</strong>
                
                
                  
                   
                  
                
              </td>
            </tr>


          
        </table>
        

</body>
</html>